<div class="text-center">
  <img src="assets/tecnico informatico.jpg" class="img-fluid" alt="Portada" width="600">
</div>

<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/primero.jpg" class="card-img-top" alt="oficina">
        <div class="card-body">
          <h5 class="card-title">Instalacion de software en equipos de oficina</h5>
          <p class="card-text">instalamos en computadores de oficina, distintos sistemas operativos o aplicaciones requeridas para el trabajo</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/medio.webp" class="card-img-top" alt="software">
        <div class="card-body">
          <h5 class="card-title">Instalacion de software en equipos de casa o de uso cotidiano</h5>
          <p class="card-text">reparamos y configuramos softwares necesarios para el uso cotidiano de su computador</p>-
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="assets/tercero.avif" class="card-img-top" alt="Reparacion">
          <div class="card-body">
            <h5 class="card-title">Reparacion de equipos</h5>
            <p class="card-text">Realizamos reparaciones de computadores y dispositivos electronicos</p>
          </div> 
      </div>
  </div>
</div>